*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body{
  max-width: 100vw;
  overflow-x: hidden;
}

a{
  color: inherit;
  text-decoration: none;
}

.navbar{
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.footer{
  margin-top: 50px;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}